*{
    box-sizing: border-box;
    font-family: 'Modak', cursive;
}

    body {
        height: 100%;
        background: linear-gradient(90deg,#e33b46 50%, #3e49e6 50%);
    }

.container {
    display: flex;
}


#title{
    text-align: center;
    font-size: 70px;
    margin-top: 0px;
    color:none;
    -webkit-text-stroke: 3px #e33b46;
    -webkit-text-fill-color: white;
    /* text-shadow: 2px 2px 40px blue ; */
}

#title .black{
    -webkit-text-stroke: 3px black;
}

div .flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 310px;
    height: 310px;
    background-color: #545454;
    /* text-align: center; */
    margin: 0px auto;
    border-collapse: collapse;
    border-radius: 50%;
}

.flex .cell{
    width :100px;
    height: 100px;
    background-color: #14bdac;
    margin-bottom: 5px;
    transition: 0.1s ease-in;
    text-align: center;
        vertical-align: center;
        font-size: 90px;
        -webkit-text-stroke: 2px #64bbd9;
        -webkit-text-fill-color: white;
}
.flex .cell:hover{
    cursor: pointer;
    background-color:#78ebdf; 
}
.Player{
    font-size: 100px;
    margin-right: 0;
    display :flex;
    justify-content: space-around;
    align-items: center;
    /* flex: 0 33%; */
    
    margin-left: 30px;
    justify-content: center;
    flex-wrap: nowrap;
    flex:1;
    flex-flow:column;
}

.statusKeeper{
    /* margin-top:30px; */
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.reset {
    transition:0.3s ease-in-out;
}
.Status{
   
    font-size: 40px;
    margin-top:40px;
    -webkit-text-stroke: 3px black;
    -webkit-text-fill-color: white;
}
.reset:hover{
    cursor: pointer;
    -webkit-text-stroke: 3px #DF4D60;
    -webkit-text-fill-color:#64DCB8;
}
.resetIcon{
  position: relative;
   float:right;
   margin-top: 13px;
   margin-left: 4px;
}

.letters {
/* display:flex; */
    font-size: 90px;
    -webkit-text-stroke: 3px black;
    -webkit-text-fill-color: white;
   /* margin:20px; */
height:12px;
}

.ScoreKeeper{
    display: flex;
    justify-content: space-evenly;
}
.ScoreKeeper span{
    font-size:70px;
flex-wrap: wrap;

}
.blue{
    -webkit-text-stroke: 3px #3e49e6;
    -webkit-text-fill-color: white;
}
 .red{
    -webkit-text-stroke: 3px #e33b46;
    -webkit-text-fill-color: white;
}
.PlayerOne{
    -webkit-text-stroke: 3px #2de35e;
    -webkit-text-fill-color: white;
}
.PlayerTwo{
    -webkit-text-stroke: 3px black;
    -webkit-text-fill-color: white;
}